{% extends "page.html.jinja" %}
{% block content %}
    <div class="post">
        <div class="post-title">{{ post.meta.title }}</div>
        <div class="post-date">
            <div class="dots"></div>
            {% let published = post.meta.published.format("%Y-%m-%d") %}
            <time datetime="{{ published }}">
                {{ post.meta.published.format("%b %d, %Y") }}
            </time>
            <div class="dots"></div>
        </div>

        <div class="post-content">
            {{ self.post.render()|safe }}
        </div>
    </div>

    <hr />

    <p class="text"><a href="/blog">See all posts</a></p>
{% endblock %}