<div class="logo">
    <a href="/" alt="Homepage">
        <picture>
            <source srcset="/img/player.webp" />
            <source srcset="/img/player.gif" />
            <img src="/img/player.gif" />
        </picture>
    </a>
</div>

<div class="title">
    <a href="/" alt="Homepage">Vallentin's Untitled<br>Infinite Survival<br>Game</a>
</div>

<div id="links" class="links">
    <a href="https://twitter.com/VallentinDev" title="@VallentinDev on Twitter" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.reddit.com/user/VallentinDev" title="/u/VallentinDev on Reddit" target="_blank">
        <i class="fab fa-reddit"></i>
    </a>
</div>

<p class="text-medium">Playable demo coming when it's ready!</p>