@import "reset";

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@mixin small-screen {
    @media screen and (max-width: 650px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;

    &,
    &:after,
    &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: {
        family: "JetBrains Mono", monospace;
        size: 16px;
        weight: 400;
    }
    line-height: 1.5;

    color: #bbb;
    background: #141518;
}

p {
    margin: 0 0 1rem;
}

a {
    text-decoration: none;
    color: #f9ba00;

    &:hover {
        color: lighten(#f9ba00, 20%);
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

img,
video {
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 0 auto 1rem;
    display: block;
}

img {
    image-rendering: pixelated;
}

.container {
    // Minimum height to ensure the background extends the whole height of the window
    min-height: 100%;
    // Pad the sizes at least, to avoid the content intersecting with the background
    padding: 32px 96px 96px;

    text-align: center;

    // Funnily enough, Firefox, Safari and even Internet Explorer supports
    // background-position two-value syntax with edge offsets.
    // While Chrome, Edge, Opera, and Samsung Internet does not.
    // Reference: https://caniuse.com/mdn-css_properties_background-position-x_two_value_syntax

    // The pixel sizes are relative to the width of
    // the bg-{left,right}.png which both has a 500px width
    // --bg-pos-x: 0px;
    --bg-lhs-pos-x: 0px;
    --bg-rhs-pos-x: 100%;

    $sizes: 1825px 50px, 1725px 100px, 1625px 150px, 1525px 200px, 1425px 250px, 1325px 300px;

    @each $max-width, $offset in $sizes {
        @media screen and (max-width: $max-width) {
            --bg-lhs-pos-x: -#{$offset};
            --bg-rhs-pos-x: calc(100% + #{$offset});
        }
    }

    background-image: url("/img/bg-left.png"), url("/img/bg-right.png");
    background-position: left top, right 500px;
    background-position: var(--bg-lhs-pos-x) top, var(--bg-rhs-pos-x) 500px;
    // background-position-x: left var(--bg-pos-x), right var(--bg-pos-x);
    background-repeat: repeat-y, repeat-y;
    image-rendering: pixelated;
    transition: background-position 500ms ease;

    .content {
        max-width: 1024px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
    }
}

.content {
    .logo {
        align-self: center;
    }

    .title {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1;

        a {
            text-decoration: none;

            color: inherit;
        }
    }

    .links {
        margin: 1.5rem 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;

        font-size: 2.1rem;
    }

    .text,
    .text-medium {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.25rem;

        @include small-screen {
            max-width: 90%;
        }
    }

    .text-medium {
        margin-top: 0.25rem;
        margin-bottom: 2.5rem;

        font-size: 1.25rem;
    }

    .center {
        text-align: center;
    }

    .note {
        color: #e65858;
    }

    .row {
        margin: 1rem 0;

        display: grid;

        grid-template-columns: 2fr 3fr;
        gap: 0.5rem;

        .description {
            padding: 0 0.5rem;

            font-size: 1.2rem;
            text-align: left;
        }

        .media {
            margin-bottom: 1rem;

            img,
            video {
                filter: drop-shadow(0 0 0.5rem #000);
            }
        }

        &:nth-child(even) {
            grid-template-columns: 4fr 3fr;

            .description {
                text-align: right;
            }

            .media {
                order: -1;
            }
        }

        @include small-screen {
            grid-template-columns: 1fr !important;

            .description {
                padding: 0;

                font-size: 1rem;
                text-align: left !important;
            }

            .media {
                margin-left: -96px;
                margin-right: -96px;

                order: -1;

                img,
                video {
                    filter: drop-shadow(0 0 0.75rem #000);
                }
            }
        }
    }

    .posts {
        margin-bottom: 2.5rem;

        ul {
            max-width: 70%;
            margin: 1.5rem auto;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include small-screen {
                max-width: 100%;
                margin: 1rem auto;
            }

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                // display: grid;
                // grid-template-columns: auto 1fr auto;
                // grid-template-columns: max-content 1fr max-content;

                @include small-screen {
                    flex-direction: column;
                    gap: 0.25rem;
                }

                a {
                    flex: none;
                }

                .dots {
                    width: 100%;

                    border: 0 dotted #252628;
                    border-bottom-width: 3px;

                    @include small-screen {
                        display: none;
                    }
                }

                time {
                    flex: none;

                    color: #7c7f83;

                    @include small-screen {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }

    .post {
        padding: 1rem;

        text-align: left;

        color: #ddd;

        @include small-screen {
            padding: 0;

            font-size: 1rem;
        }

        .post-title {
            margin-bottom: 1rem;

            font-size: 2rem;
            font-weight: 600;
            line-height: 1.25;
            text-align: center;

            @include small-screen {
                font-size: 1.5rem;
            }
        }

        .post-date {
            margin-bottom: 2.5rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            font-size: 1rem;

            @include small-screen {
                gap: 0.5rem;

                font-size: 0.75rem;
            }

            .dots {
                flex: 1;

                border: 0 dotted #252628;
                border-bottom-width: 3px;
            }

            time {
                flex: none;

                color: #7c7f83;
            }
        }

        h1:first-child {
            margin-top: 0;
            margin-bottom: 1.5rem;

            font-size: 2rem;
            font-weight: 600;
            line-height: 1.25;
        }
    }
}
